@media only screen and (min-width:500px)

{.iconos {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
    .column3 {
        flex: 1;
        padding: 20px;
        text-align: center;
        margin: 10px;
        &:hover {transform: rotate(360deg);}
        transition: 1s;
        img {
            width: 100%; 
            height: auto; 
            object-fit: cover;
            max-height: 200px;
         }
    }
}

.mapa { display: flex;
    justify-content: center;
    align-items: center;
    .column-mapa {
        margin: 15px;
        h3 {@include colorx;}
    }


}}