@mixin sombra{box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}
@mixin colorx{color: rgb(18, 33, 76);}

body {
margin: 0;
height: 100vh;
background: linear-gradient(to right, #c7eff6, #ffffff, #c2e3f0, );
}

h1{font-family: "Montserrat", sans-serif;}
h2{font-family: "Roboto Condensed", sans-serif;}
h3{font-family: "Roboto Condensed", sans-serif;}

