@media only screen and (max-width:500px)
{main {display: flex;
        align-items: center;
        .inicio-index {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {position:relative;
                top:-30px;}
            h1 {font-size: 3em;
                @include colorx;}
            h2 {font-size: 2em;
                padding: 20px;
                background-color: #c2e3f0;

                text-align: center;
                @include colorx;}
            h3 {font-size: 1em;
                
                text-align: center;
                @include colorx;
            }
            
        }
        .fotos-inicio {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
            .column img {
                width: 100%;
                height: auto;
                max-width: 300px;
                max-height: 300px;
                object-fit: cover;
                @include sombra;
                margin:1px;
                &:hover{transform: scale(1.2);}    
                transition:1s;
                }
            }
    }


.container { 
        display: none;
        position:relative;
        top:590px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 5px;
        .column2 {display: none;}
    }

.spacer {
        height: 200px; 
        width: 100%; }
    }