@media only screen and (min-width:500px){
    //con extend y mixin

.domestico {display: flex;
justify-content: center;
align-items: center;}

.grandes {
    @extend .domestico;}

.automatizacion {
    @extend .domestico;}

.column {
    @extend .domestico;
    padding: 20px;
    h1 {@include colorx;}
    h2 {@include colorx;}
    h3 {@include colorx;}
    img {@include sombra;
        width: 80vh; 
        height: auto; 
    }
}}
@media only screen and (max-width:500px){
    h1 {font-size: 100em;}
    .column {max-width:300px;
        text-align: center;
        img {max-width:320px;
        padding:15px;}
    h2{padding-top:150px;}
}
}
