@media only screen and (min-width:500px)

{main{display: flex;
    
flex-direction: column;  

justify-content: center;
align-items: center;
.empresa{display: flex;
flex-direction: column;  

justify-content: center;
align-items: center;
    h1{font-size: 400%;
        @include colorx;
    text-align: center;}
    h3{width: 80%;
        @include colorx;
    text-align: center;}}
margin:80px;

.vision{display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    
    
    h1 {@include colorx;}
    h2 {@include colorx;}
    h4 {@include colorx;}
    
    .vision-1{min-width: 300px; 
        
        text-align: center;
        flex: 1;
        margin: 0 10px;
        padding: 20px; }
    
    img {max-width: 40%;
        height: auto;
        margin:1%;
        @include sombra;

    }
}
.inicios{display: flex;
        justify-content: center;
        align-items: center;
    h1 {@include colorx;}
    h2 {@include colorx;}
    h4 {@include colorx;}
        .inicios-1{text-align: center;
        padding: 5%;}
        img{max-width: 100%;
            height: auto;
            margin:1%;
            @include sombra;}
            
}


.equipo{display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {@include colorx;}
    h2 {@include colorx;}
    h4 {@include colorx;}

    img {margin: 3rem;
        max-width: 120%;
        height: auto;
        @include sombra;}

    .equipo-1{text-align: center;
    display:flex;
    flex-flow:wrap;
    padding: 5%;
    h1 {text-align: center;
        width: 100%;}
    }}

    
    h1 {@include colorx;}
.valores{
    
    h2 {@include colorx;}
h4 {@include colorx;}

display: flex;
justify-content: center;
flex-flow: wrap;

    .transparencia{width: 33%;
        padding: 2%;}
    .lealtad{width: 33%;
        padding: 2%;}
    .aprendizaje{width: 33%;
        padding: 2%;}
    }
}

}